<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite_Clean_URLs" enabled="true" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="*.css" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="*.js" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="*.png" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="*.gif" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="*.jpg" negate="true" />
                        <add input="{QUERY_STRING}" pattern="/files*" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
